.button {
    -fx-padding: 5 5 5 5;
    -fx-border-color: #3e5225;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #647f3f;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-text-fill: #afcc70;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.list-view .list-cell {
    -fx-background-color: rgb(209, 214, 144);
    -fx-border-color: rgb(79, 83, 53);
}

.list-view .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.text-area {
    -fx-border-color: rgb(62, 82, 37);
    -fx-font-size: 15;
    -fx-background-color: rgb(201, 231, 133);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}



